.search-container {
    display: flex;
    margin-top: 26px;
    width: 54%;
    justify-content: space-around;
}

.search-field {
    display: flex;
    width: 51%;
    justify-content: space-around;
}